html
{
    display: flex;
    justify-content: center;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main
{
    position: relative;
    width: 80%;
    height: 40vw;
}

.enemy-damage-number
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -120%;
    left: -20%;
    font-size: 3vw;
    width: 150%;
    height: 50%;
}

.enemy-img
{
    width: 100%;
    height: 100%;
}

.fighter-container
{
    display: flex;


    position: absolute;
    background-color: green;
    height: 25%;
    width: 50%;
}

.all-enemies
{
    position: relative;
    width: 15%;
    height: 60%;

    margin: 5%;
    background-color: gray;
}

.action-bar-options
{
    display: flex;

    font-size: 3vw;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 0;
}

#act-bar-grid-cont
{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 8fr 4fr 1fr;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

#action-bar
{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;

    padding: 1%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
    z-index: 3;
}

#option1
{
    grid-column: 1 / 2;
}

#option2
{
    grid-column: 2 / 3;
}

#option3
{
    grid-column: 1 / 2;
}

#option4
{
    grid-column: 2 / 3;
}

#player-container
{
    bottom: 30%;
    left: 15%;
    z-index: 2;
}

#enemy-container
{
    display: flex;
    justify-content: space-around;

    top: 10%;
    right: 5%;
}